export BROWSER=brave
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
export QT_STYLE_OVERRIDE=kvantum

# numlockx on &
# picom -b
# fcitx -rd
# nm-applet &

# Cleanup .xsession-errors
# rm -f ~/.xsession-errors ~/.xsession-errors.old
