[Unit]
Description=Default volume for USB-Headset
After=wireplumber.service

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'until pgrep -x pipewire >/dev/null && pgrep -x wireplumber >/dev/null; do sleep 10; done'
ExecStart=/usr/bin/amixer -c Headset set PCM 20%
ExecStart=/bin/sh -c 'echo \'require"statusbar".get_vol()\' | /usr/bin/awesome-client'

[Install]
WantedBy=default.target
